<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Almost There!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E1AF1561D97173C00E9D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1AF16A1D97173D00E9D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1AF1751D97173D00E9D354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
